body{
    margin: 0px;
background-color: black;
background-image: url(newone.jpg) ;
}


h1{
    text-align: center;
    color: rgb(234, 159, 9);
    font-size: 78px;
}
p{
    top: 10px;
    text-align: center;
    color: rgb(242, 239, 239);
    font-size: 45px;
}

body{
    background-color: beige;
}
i.fa-solid.fa-circle-arrow-right.fa-beat.fa-sm {
    font-size: 38px;
    margin-left: 45px;
    margin-right: 42px;
    top: 25px;
    position: relative;

}
button {
    border-radius: 23px;
    border: 8px solid rgba(9, 85, 191, 0.549);
    size: 34px;
    cursor: pointer;
    cursor: pointer;
    background-color: #13f1136c;
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    margin-left: 80px 45px;
    cursor: pointer;
    position: relative;
} 
button#generat{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    margin-left: 109px;
    top: -82px;
}
button#generat:hover {
    background-color: rgba(233, 67, 222, 0.801);
    color: black;
    box-shadow: 0 0 5px rgba(233, 67, 222, 0.801),
                0 0 25px rgba(233, 67, 222, 0.801),
                0 0 50px rgba(233, 67, 222, 0.801),
                0 0 200px rgba(233, 67, 222, 0.801);
                -webkit-box-reflect: below 1px linear-gradient(transparent,#0005) ;
}
button#copy1 {
    margin-left: 117px;
    width: 36vh;
    height: 1vh;
    top: 66px;
    padding: 27px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
}
button#copy1:hover {
    background-color: rgba(216, 186, 18, 0.811);
    color: black;
    box-shadow: 0 0 5px rgba(216, 186, 18, 0.811),
                0 0 25px rgba(216, 186, 18, 0.811),
                0 0 50px rgba(216, 186, 18, 0.811),
                0 0 200px rgba(216, 186, 18, 0.811);
                -webkit-box-reflect: below 1px linear-gradient(transparent,#0005) ;
}
textarea#shake_256_output {
    width: 46vh;
    height: 9vh;
    text-align: center;
    color: #0a0000;
    justify-content: center;
    align-items: center;
    margin-left: -1082px;
   padding-bottom: 40px;
    background-color: rgba(21, 126, 223, 0.429);
    font-size: 30px;
    top: 137px;
    padding: 40px;
    position: relative;
    border-radius: 17px;
}
textarea:hover {
    background-color: rgba(79, 69, 227, 0.708);
    color: black;
    box-shadow: 0 0 5px rgba(79, 69, 227, 0.708),
                0 0 25px rgba(79, 69, 227, 0.708),
                0 0 50px rgba(79, 69, 227, 0.708),
                0 0 200px rgba(79, 69, 227, 0.708);
                -webkit-box-reflect: below 1px linear-gradient(transparent,#0005) ;
}

span {
    color: rgb(87, 69, 221);
}

input {
    margin-left:85px;
    padding: 22px;
    background-color: rgb(129, 176, 176, 0.555);
    font-size: 36px;
}
input{
    top: -89px;
    position: relative;
}
input:hover {
    background-color: rgba(79, 69, 227, 0.708);
    color: black;
    box-shadow: 0 0 5px rgba(79, 69, 227, 0.708),
                0 0 25px rgba(79, 69, 227, 0.708),
                0 0 50px rgba(79, 69, 227, 0.708),
                0 0 200px rgba(79, 69, 227, 0.708);
                -webkit-box-reflect: below 1px linear-gradient(transparent,#0005) ;
}
input#shake_256_input{
    text-align: center;
    background-color: rgba(21, 126, 223, 0.429);
    font-size: 35px;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    color: rgba(17, 1, 1, 0.995);
    border-radius: 17px;
}


